<div id="container">
    <header id="header" class="border"><h1>Hello Team Let's Try</h1></header>
    <div id="sidebar" class="border">Sidebar</div>
    <div id="main-content" class="border">Main Content</div>
    <footer id="footer" class="border">Made with ❤️ by SHIVAN ANAND</footer>
</div>